.form {
  width: 100%;
  margin-top: 40px;
}

.input {
  padding: 3% 2%;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 95%;
  background-color: #f6f6f6;
}

.errorText {
  margin-right: 10px;
  text-align: right;
}

.btn {
  padding: 3% 2%;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
